body{
  color: white;
  text-align: center;
  font-family: 'Montserrat';
  background: #011627;
margin:0px;
text-align: center;
font-weight: bold;
}
div{
    border:60px solid #2EC4B6;
    border-top: 0px;
}
h2{
    margin-bottom: 5%;}
